.App {
    text-align: center;
  }
  
  body{
    background: black;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animation, .animation_layer {
      height: 1000px;
  }
  
  .animation {
    display: block;
      position: relative;
      z-index: -1;
  }
  
  .animation_layer {
      background-position: bottom center;
      background-size: auto 1038px;
      background-repeat: repeat-x;
      width: 100%;
      position: absolute;
  }
  .animation_layer.parallax {
      position: fixed;
  }
  
  .animation_layer.parallax.title {
    padding: 375px 0;
      text-align: center;
  }
  
  #parallaxgeneric10 {
    background-image: url(../images/parallax_generic/genericparallax10.png);
  }
  #parallaxgeneric15 {
    background-image: url(../images/parallax_generic/genericparallax15.png);
  }
  #parallaxgeneric20 {
    background-image: url(../images/parallax_generic/genericparallax20.png);
  }
  #parallaxgeneric25 {
    background-image: url(../images/parallax_generic/genericparallax25.png);
  }
  #parallaxgeneric30 {
    background-image: url(../images/parallax_generic/genericparallax30.png);
  }
  #parallaxgeneric35 {
    background-image: url(../images/parallax_generic/genericparallax35.png);
  }
  #parallaxgeneric40 {
    background-image: url(../images/parallax_generic/genericparallax40.png);
  }
  #parallaxgeneric50 {
    background-image: url(../images/parallax_generic/genericparallax50.png);
  }
  #parallaxgeneric75 {
    background-image: url(../images/parallax_generic/genericparallax75.png);
  }
  #parallaxgeneric87 {
    background-image: url(../images/parallax_generic/genericparallax87.png);
  }
  #parallaxgeneric100 {
    background-image: url(../images/parallax_generic/genericparallax100.png);
  }

  #parallax2generic10 {
    background-image: url(../images/parallax2_generic/generic2parallax10.png);
  }
  #parallax2generic20 {
    background-image: url(../images/parallax2_generic/generic2parallax20.png);
  }
  #parallax2generic30 {
    background-image: url(../images/parallax2_generic/generic2parallax30.png);
  }
  #parallax2generic40 {
    background-image: url(../images/parallax2_generic/generic2parallax40.png);
  }
  #parallax2generic50 {
    background-image: url(../images/parallax2_generic/generic2parallax50.png);
  }
  #parallax2generic60 {
    background-image: url(../images/parallax2_generic/generic2parallax60.png);
  }
  #parallax2generic70 {
    background-image: url(../images/parallax2_generic/generic2parallax70.png);
  }